*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

Debug/
Release/
Dd*/ 
Rr*/
x64/
x86/
bin/
obj/

*.nuget.props
*.nuget.targets
packages/

.env
appsettings.Development.json

.vs/
*.cache
*.log
*.tlog
*.tmp
*.pid
*.pdb

*.db
*.sqlite
*.mdf
*.ldf

node_modules/
dist/
out/